:root {
    --primary: rgba(245, 139, 39, 1);
    --secondary: rgba(94, 224, 54, 1);
    --tertiary: rgba(51, 235, 235, 1);
    --light: rgba(245, 240, 240, 1);
    --dark: rgba(31, 30, 30, 1);  
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Overpass Mono', monospace;
}

body {
    position: relative;
    min-height: 100vh;
    background-color: var(--dark);
    color: var(--light);
}

/* Header & Footer styles start */
header,
footer {
    background-color: rgba(245, 240, 240, 0.1);
    padding: 20px;
    text-align: center;
}

header h1,
footer h4 {
    color: var(--light);
}

header {
    border-bottom: 3px solid rgba(245, 240, 240, 0.5);
}

footer {
    border-top: 3px solid rgba(245, 240, 240, 0.5);
    position: absolute;
    width: 100%;
    bottom: 0;
}
/* Header & Footer styles end */

/* Main styles start */
.container {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.manager,
.engineer,
.intern {
    margin: 20px;
    flex: 1;
    border: 3px solid;
    max-width: 250px;
    min-width: 290px;
    max-width: 290px;
}

.manager h2,
.engineer h2,
.intern h2 {
    padding: 10px 0 5px 10px
}

.manager h3,
.engineer h3,
.intern h3 {
    padding: 0 0 5px 10px;
    border-bottom: 3px solid;
}

.manager div,
.engineer div,
.intern div {
    padding-top: 3px;
}

.manager div p,
.engineer div p,
.intern div p {
    padding: 2px 10px;
}

.manager div p a,
.engineer div p a,
.intern div p a {
    text-decoration: none;
    color: var(--light);
}

.manager {
    background-color: rgba(245, 139, 39, 0.1);
    border-color: var(--primary);
}

.engineer {
    background-color: rgba(94, 224, 54, 0.1);
    border-color: var(--secondary);
}

.intern {
    background-color: rgba(51, 235, 235, 0.1);
    border-color: var(--tertiary);
}

.manager h2,
.manager h3 {
    background-color: rgba(245, 139, 39, 0.2);
}

.engineer h2,
.engineer h3 {
    background-color: rgba(94, 224, 54, 0.2);
}

.intern h2,
.intern h3 {
    background-color: rgba(51, 235, 235, 0.2);
}

.manager h3 {
    border-color: var(--primary);
}

.engineer h3 {
    border-color: var(--secondary);
}

.intern h3 {
    border-color: var(--tertiary);
}
/* Main styles end */